@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot?-r3u6m4');
  src:url('icomoon.eot?#iefix-r3u6m4') format('embedded-opentype'),
  url('icomoon.woff?-r3u6m4') format('woff'),
  url('icomoon.ttf?-r3u6m4') format('truetype'),
  url('icomoon.svg?-r3u6m4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}