// TO be used for the wysiwig editor :)
@import "bootstrap/variables.less";

@import "bootstrap/mixins.less";
@import "../fonts/fonts.less";

@import "bootstrap/type.less";
@import "bootstrap/scaffolding.less";

h1{font-family: @h1-font; color: @h1-color;}
h2{font-family: @h2-font; color: @h2-color;}
h3{font-family: @h3-font; color: @h3-color;}
h4{font-family: @h4-font; color: @h4-color;}
h5{font-family: @h5-font; color: @h5-color;}